@use "sass:color";

$fontf-serif:  "Times New Roman","Georgia", serif;

$mqMinWidth: 1000px;
$menuWidth: 300px;
$menuHeight: 140px;

$font-size: 20px;

$c-white: #fff;
$c-blue1: #59b9ff;
$c-blue2: #0094ff;
$c-black: #000;
